Footer {
  text-align: center;
  font-size: var(--bodyverysmall-size);
  line-height: var(--bodyverysmall-line-height);
  overflow: hidden;
  height: 130px;
}

.copyright {
  font-weight: 700;
  font-size: var(--bodysmall-size);
  line-height: var(--bodysmall-line-height);
}