:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color: #2E2B26;
  background-color: #EFEBE0;

  --header-size: 43px;
  --header-line-height: 48px;

  --subheader-size: 24px;
  --subheader-line-height: 26px;

  --body-size: 18px;
  --body-line-height: 32px;

  --bodysmall-size: 14px;
  --bodysmall-line-height: 25px;

  --bodyverysmall-size: 10px;
  --bodyverysmall-line-height: 14px;

  --color : #2E2B26;
  --background-color: #EFEBE0;
  --raw-umber: #975A2C;
  --padding-horizontal: 7vw;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
